security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    providers:
        users_in_memory: { memory: null }
        demandeur_provider:
            entity:
                class: App\Entity\Demandeur
                property: mail
        entreprises_provider:
            entity:
                class: App\Entity\Entreprises
                property: entr_mail


    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        entreprises:
            pattern: ^/recruteur
            lazy: true
            provider: entreprises_provider  # Utilisez ce fournisseur pour le pare-feu entreprises
            custom_authenticator: App\Security\EntreprisesAuthenticator
            logout:
                path: app_logout
                
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /
                #always_remember_me: true
        main:
            lazy: true
            provider: demandeur_provider  # Utilisez ce fournisseur pour le pare-feu main
            custom_authenticator: App\Security\DemandeurAuthenticator
            logout:
                path: app_logout
                # where to redirect after logout
                # target: app_any_route

            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /
                #always_remember_me: true

    access_control:
        # - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/profile, roles: ROLE_USER }
        # - { path: ^/entreprises, roles: ROLE_ENTREPRISE }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
