security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    
    providers:
        demandeur_provider:
            entity:
                class: App\Entity\Demandeur
                property: mail
        entreprises_provider:
            entity:
                class: App\Entity\Entreprises
                property: entr_mail

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        entreprises:
            pattern: ^/recruteur
            provider: entreprises_provider
            custom_authenticator: App\Security\EntreprisesAuthenticator
            entry_point: App\Security\EntreprisesAuthenticator
            logout:
                path: app_logout
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /recruteur

        demandeur:
            pattern: ^/
            provider: demandeur_provider
            custom_authenticator: App\Security\DemandeurAuthenticator
            entry_point: App\Security\DemandeurAuthenticator
            logout:
                path: app_logout
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /

    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/profile, roles: ROLE_USER }
        - { path: ^/home, roles: PUBLIC_ACCESS }
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/recruteur/connexion, roles: PUBLIC_ACCESS }
        
when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
