.container404{
    margin-top: 5%;
    padding: 8%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;

    .left{
        justify-content: center;
        width: 50%;
    }

    .right{
        justify-content: center;
        text-align: center;
        
        .title{
            font-size: 208px;
            color: #4855A1;
            margin: 0;
            font-weight: 900;
        }

        p{
            font-size: 24px;
        }

        .containerBtn{
            
            button{
                background-color: #4855A1;
                border-radius: 25px;
                color: white;
                padding: 15px;
                border: none;
                font-size: 16px;
            }
        }
    }
}

