h1{
    margin: 0;
}

.boldTitle{
    font-weight: 900;
}

.greenTitle{
    color: #4855A1;
}

.subTitle{
    font-weight: 400;
}

.headerImg{
        background-image: url('/img/blog/header.png');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
    }

.containerMondeTravail{
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;

    .containerTop{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
    }

    .containerBlog{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;

        .containerArticle{
            min-height: 250px;
            padding: 10px;
            background-color: #F9F9F9;
            border-radius: 7px;
            width: 31%;

            .divImgContainer{
                border-radius: 7px;
                width: 100%;
                height: 80%;
                background-image: url('../../img/home/imgMondeTravail.png');
                background-size: cover; 
                background-position: center; 
                background-repeat: no-repeat;
            }

            .descriptionContainer{
                display: flex;

                .btnArrow{
                    margin-top: 16px;
                    border: none;
                    background-color: #0F172A;
                    color: white;
                    padding: 5px;
                    border-radius: 15px;
                }

                .imgBtnArrow{
                    width: 22px;
                }
            }
        }
    }
}

.searchBlog{
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;

    .row{
        display: flex;
        justify-content: space-between;

        .left{
            width: 50%;
            display: flex;
            justify-content: space-between;

            .inputContainer{
                display: flex;
                align-items: center;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 15px;
                padding-right: 15px;
                border-radius: 25px;
                border: 1px solid #000000;
                width: 40%;
                margin: auto;
                margin-left: 0;


                .inputRecherche{
                    background-color: transparent;
                    border: none;
                    padding: 3px;
                }
            }

            .btnFiltreContainer{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 15px;
                padding-right: 15px;
                border-radius: 25px;
                margin: auto;
                display: flex;
                justify-content: center;

                .btnFiltre {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    border: 1px solid black;
                    border-radius: 25px; 
                    width: 100px;
                    height: 40px;
                }
                
                .btnFiltre::after {
                    content: url('/img/blog/filtreSvg.svg');
                    height: 20px;
                    width: 20px;
                    margin-left: 10px;
                }
                
            }
        }

        .right{
            width: 50%;
            text-align: end;
        }
    }
}

.containerBlogs{
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;

    .containerCard{
        display: flex;
        padding: 15px;
        background-color: #F9F9F9;
        border-radius: 7px;
        margin-bottom: 2%;

        .left{
            width: 319px;
            height: 223px;
            margin-right: 5%;

            .imgContainer{
                height: 100%;
                border-radius: 7px;
                background-image: url('/img/blog/imgBlog.png');
                background-size: cover; 
                background-position: center; 
                background-repeat: no-repeat;
            }
        }

        .right{
            width: 100%;

            .textContainer{
                .titleCard{
                    font-weight: 400;
                }
            }

            .bottomContainer{
                display: flex;
                justify-content: space-between;
                padding-top: 7%;

                .containerDate{
                    p{
                        color: #606060;
                    }
                }

                .btnContainer{
                    .btnArrow{
                        margin-top: 16px;
                        border: none;
                        background-color: #0F172A;
                        color: white;
                        padding: 5px;
                        border-radius: 15px;
                    }
    
                    .imgBtnArrow{
                        width: 22px;
                    }
                }
            }
        }

    }
}
