.containerContact{
    margin-top: 5%;
    padding: 8%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;

    .left{
        justify-content: center;
        width: 50%;
        .containerTop{
            .title{
                font-size: 58px;
                color: #4855A1;
                margin: 0;
            }
    
            .subTitle{
                font-size: 22px;
            }
        }

        .containerBottom{
            margin-top: 5cm;
            text-align: center;
        }
    }

    .right{
        width: 50%;

        .containerForm{
            padding-right: 45%;

            p{
                margin-bottom: 0;
                margin-top: 6%;
            }

            .inputForm{
                border: none;
                border-bottom: 1px solid black;
                padding: 10px 5px;
                width: auto;
            }
            .inputFormLong{
                border: none;
                border-bottom: 1px solid black;
                padding: 10px 5px;
                padding-right: 0;
                width: 98%;
            }

            textarea{
                margin-top: 1%;
                border: none;
                border-bottom: 1px solid black;
                width: 100%;
                max-width: 100%;
                height: 100px;
                resize: none;
            }
            .firstRow{
                display: flex;
                justify-content: space-between;

                .nom{
                    width: auto;
                }
                .prenom{
                    width: auto;
                }
            }

            .secondRow{
                width: 100%;

            }
        }

        .containerBtn{
            margin-top: 3%;
            button{
                background-color: #4855A1;
                border-radius: 25px;
                color: white;
                padding: 15px;
                border: none;
                font-size: 16px;
            }
        }
    }
}

