textarea{
    width: 70%;
    max-width: 80%;
    height: 150px;
    max-height: 200px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 2%;
    resize: none;
}

.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 20px;
    color: #000;
    position: relative;
    width: 80%; /* Ajustez la largeur selon vos besoins */
}

.selectForm {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 20px;
    color: #000;
    position: relative;
    width: 20%; /* Ajustez la largeur selon vos besoins */
    text-align: center ;
}

.fileInput{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;   
}

.labelChange{
    padding-left: 10px;
}

.svgUpload{
    width: 16px;
    padding-left: 5px;
}

.containerProfil{
    margin-top: 5%;
    padding: 8%;
    padding-left: 8%;
    padding-right: 5%;

    .row2, .row3, .row4, .row5, .row6 {
        
        .left{
            padding-top: 4%;
            text-align: right;
        }
    }
    
    .row, .row2, .row3, .row4, .row5, .row6 {
        display: flex;

        .title{
            font-weight: 400;
            margin-bottom: 0;
        }

        .containerTop{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .statutCompletion{
                padding: 3px 10px;

            }

            .toComplete{
                background-color: antiquewhite;
                border: 1px solid red;
            }

            .complete{
                background-color: #4855A1;
                border: 1px solid #4855A1;
            }

            .nearComplete{
                background-color: #ff9e3c;
                border: 1px solid #ff9e3c;
            }
        }

        .allContainer{
            -webkit-box-shadow: -2px 4px 16px 8px rgba(158,158,158,0.15); 
            box-shadow: -2px 4px 16px 8px rgba(158,158,158,0.15);
            border-radius: 20px;
            padding: 2%;
            margin-bottom: 2%;
        }

        .left{
            width: 30%;
            margin-right: 2%;

            .containerStatut, .containerSuivi{
                padding: 8%;
                margin-bottom: 15%;
                .title{
                    margin: 0;
                    margin-bottom: 2%;
                    margin-top: 5%;
                }

                .btnSuivi{
                    background-color: #4855A1;
                    border: none;
                    border-radius: 25px;
                    padding: 15px 20px;
                    color: white;
                    font-size: 16px;
                }
            }

        }
        .right{
            width: 70%;

            .btnAjouter{
                background-color: #4855A1;
                border: none;
                border-radius: 25px;
                padding: 15px 20px;
                color: white;
            }
            .btnModifier{
                background-color: #4855A1;
                border: none;
                border-radius: 25px;
                padding: 15px 20px;
                color: white;
            }

            .containerForm{
                div{
                    padding-right: 15%;
                    display: flex;
                    margin-bottom: 2%;

                    .inputForm{
                        background-color: white;
                        padding: 10px 20px;
                        border: none;

                    }

                    .labelForm{
                        width: 80%;
                    }
                }
            }

            .description{
                font-size: 11px;
                margin: 0;
                margin-bottom: 3%;
            }
        }
    }
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 200px;
    user-select: none;
}

.custom-select {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'><path fill='none' stroke='black' stroke-width='2' d='M6 9l6 6 6-6'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    cursor: pointer;
    font-size: 16px;
}
.custom-select-form {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'><path fill='none' stroke='black' stroke-width='2' d='M6 9l6 6 6-6'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    cursor: pointer;
}

.customForm{
    width: 85%;
}

.custom-select option {
    padding: 10px;
}
