.containerProfil{
    margin-top: 5%;
    padding: 8%;
    padding-left: 8%;
    padding-right: 5%;

    .row2, .row3, .row4, .row5, .row6 {
        
        .left{
            padding-top: 4%;
            text-align: right;
        }
    }
    
    .row, .row2, .row3, .row4, .row5, .row6 {
        display: flex;

        .title{
            font-weight: 400;
            margin-bottom: 0;
        }

        .containerTop{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .statutCompletion{
                background-color: antiquewhite;
                border: 1px solid red;
                padding: 3px 10px;
            }
        }

        .allContainer{
            -webkit-box-shadow: -2px 4px 16px 8px rgba(158,158,158,0.15); 
            box-shadow: -2px 4px 16px 8px rgba(158,158,158,0.15);
            border-radius: 20px;
            padding: 2%;
            margin-bottom: 2%;
        }

        .left{
            width: 30%;
            margin-right: 2%;

            .containerStatut, .containerSuivi{
                padding: 8%;
                margin-bottom: 15%;
                .title{
                    margin: 0;
                    margin-bottom: 2%;
                    margin-top: 5%;
                }

                .btnSuivi{
                    background-color: #35C89F;
                    border: none;
                    border-radius: 25px;
                    padding: 15px 20px;
                    color: white;
                    font-size: 16px;
                }

                .select {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-color: white;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    padding: 10px 40px 10px 20px;
                    font-size: 16px;
                    color: #000;
                    position: relative;
                    width: 80%; /* Ajustez la largeur selon vos besoins */
                }

                .custom-select::before {
                    content: '•';
                    color: #6FCF97; /* Couleur du point */
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 24px;
                }

                .custom-select::after {
                    content: '▼';
                    font-size: 12px;
                    color: #000;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    pointer-events: none;
                }

                .custom-select option {
                    padding: 10px;
                }
            }

        }
        .right{
            width: 70%;

            .btnAjouter{
                background-color: #35C89F;
                border: none;
                border-radius: 25px;
                padding: 15px 20px;
                color: white;
            }
            .btnModifier{
                background-color: #35C89F;
                border: none;
                border-radius: 25px;
                padding: 15px 20px;
                color: white;
            }

            .containerForm{
                div{
                    padding-right: 15%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 2%;

                    .inputForm{
                        border: none;
                        padding: 10px;
                        border-radius: 10px;
                    }
                }
            }

            .description{
                font-size: 11px;
                margin: 0;
                margin-bottom: 3%;
            }
        }
    }
}

