{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/404.css') }}">
{% endblock %}

{% block body %}
<div class="container404">
    <div class="left">
        <img src="{{ asset('img/404/dessin404.png') }}" alt="Design esthétique">
    </div>
    <div class="right">
        <div class="containerImg">
            <img src="{{ asset('img/404/404.svg') }}" alt="Erreur 404">
        </div>
        <p>Il semblerait que vous vous soyez perdu :(</p>
        <div class="containerBtn">
            <button>Retourner à l'accueil</button>
        </div>
    </div>
</div>
<script>
setTimeout(function() {
    window.location.href = '/home';
}, 5000);

</script>
{% endblock %}
