controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

index:
    path: /
    controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController::redirectAction
    defaults:
        route: 'app_home'
        permanent: true


app_entreprises_dashboard:
    path: /recruteur/dashboard
    controller: App\Controller\EntreprisesController::dashboard

# config/routes.yaml
# accueil:
#     path: '/home'
#     controller: Symfony\Bundle\FrameworkBundle\Controller\TemplateController::templateAction
#     defaults: 
#         template: 'home/home.html.twig'

not_found:
    path: /{path}
    controller: App\Controller\ErrorController::notFoundAction
    requirements:
        path: .*
    defaults:
        _format: html