@font-face {
    font-family: 'JUST';
    src: url('../../font/JUST.woff2') format('woff2'),
         url('../../font/JUST.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT-ALPINA';
    src: url('../../font/GT-Alpina-Extended-Light-Italic-Trial.otf') format('otf');    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'JUST', sans-serif;
}

body {
    margin: 0;
}

.containerAccesibility{
    position: fixed;
    right: 0;
    top: 50%;

    .btnAccesibility{
        background-color: transparent;
        border: none;
        border-radius: 25px;
    }
}

.containerNav{
    position: relative
}

.boldTitle{
    font-weight: 900;
}

.greenTitle{
    color: #35C89F;
}

.subTitle{
    font-weight: 400;
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 25px;
    background-color: white;
    width: 78%;
    padding: 2px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1%;
}

.navbar li {
    margin: 0 20px;
    list-style: none;
    display: flex; 
    align-items: center;

}

.linkNav {
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 0 20px;
}

footer{
    background-color: #0F172A;
    padding-bottom: 2%;

    .containerFooter{
        padding: 8%;
        padding-left: 8%;
        padding-right: 5%;        
        display: flex;
        justify-content: space-between;

        .leftFooter{
            width: 40%;
            display: flex;
            gap: 8%;

            .btnLoginFooter{
                background-color: white;
                border: 2px solid #0F172A;
                border-radius: 25px;
                color: #0F172A;
                padding: 15px;
                font-size: 16px;
                padding-left: 30px;
                padding-right: 30px;
            }
            .btnFindJobFooter{
                background-color: #0F172A;
                border-radius: 25px;
                color: white;
                padding: 15px;
                border: 2px solid white;
                font-size: 16px;
            }
        }
        .rightFooter{
            width: 50%;
            display: flex;

            .footerLinks{
                list-style-type: none;

                h3{
                    color: white;
                    margin-bottom: 30%;
                }

                a{
                    cursor: pointer;
                    color: white;
                    text-decoration: none;
                }

                li{
                    margin-top: 10%;
                }
            }
        }
    }

    hr{
        width: 80%;
        margin: auto;
        border: 1px solid #383838;
        margin-bottom: 2%;
    }

    .bottomFooter{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .bottomFooterLeft{
            
            p{
                margin: 0;
                color: white;
            }
        }

        .bottomFooterRight{
            display: flex;
            gap: 10%;

            .LinkedIn, .Instagram{
                
                a{
                    color: white;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}
.btnCtaNav, .btnVoirActualites{
    background-color: #0F172A;
    border-radius: 25px;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.paddingRight{
    padding-right: 80px;
}
.paddingLeft{
    padding-left: 80px;
}

.pathContainer{
    padding: 2% 5%;
    display: flex;
    align-items: center;
    gap: 10px;

    .pathText{
        color: black;
        text-decoration: none;
    }
}

