.greenTitle{
    color: #35C89F; 
}

.containerInscription {
    padding-top: 5%;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    
    .formContainer{
        width: 70%;
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 10px;
        justify-content: center;
        padding-left: 15%;
        padding-right: 15%;

        .inputForm{
            width: 80%;
            height: 30px;
            border-radius: 20px;
            border: none;
            padding: 5px;
        }

        .caseCoche{
            width: 100%;
        }

        .btnContainer{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            
            .btnSubmit{
                background-color: #0F172A;
                border-radius: 25px;
                color: white;
                padding: 15px;
                border: 2px solid white;
                font-size: 16px;
                padding-left: 5%;
                padding-right: 5%;
            }
        }
    }

}